
.wrapper{
    /* display: none; */
}
.left-panel{
    display: inline;
    width: 250px;
    height: 100%;
}
.profile-info{
    position: relative;
    width: 100%;
}



.info-cont{
    border-bottom: 0.5px solid rgba(177, 173, 173, 0.603);
    height: 70px;
   
}
.info-cont span{
 float: left;
 position: relative;
 top:50%;
 transform: translateY(-50%);
 margin-left: 30px;
 font-size: 20px;
}
.info-cont button{
    float: right;
    margin-right: 30px;
    background-color: white;

    border:0.5px solid rgba(177, 173, 173, 0.603);
    border-radius: 5px;
    height: 40px;
    position: relative;
 top:50%;
 transform: translateY(-50%);
   }
   .info-cont button:hover{
    
    background-color: #073655;
    color:white;
    border: 0px;

  
   }
.chat-rooms{
    position: relative;
    width: 100%;
    height: 100%;
}
.chat-rooms p{
    width:auto;
    height: auto;
   
    
   float: left;
   margin-left: 30px;

}
.available_profiles  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 200px;
  

}

.available_profiles span {
    background-color: white;
    display: inline-block;
    border:0.5px solid rgba(177, 173, 173, 0.603);
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 10px;
    vertical-align:middle;

}


.chat-div{

    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 10px;
    width:100%;
}
.chat-new-div{
    max-height: 300px;
}
.profile_name {
width: 100%;
text-align: start;
padding-top: 20px; 
padding-bottom: 20px;    



}
.profile_name  span{
width:100%;
margin-left: 30px;
height: 100%;
color: black;
font-size: 15px;  


}
.join_top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #073655;
    width: 50px;
    color:white;
    border-radius: 5px;
  
}
.join_top:hover{
    background-color: #004370;

}

.profile-scroll{
    display: inline-block;
    height:100%;
    width: 100%;
    overflow-y: scroll;
    
}
.profile-scroll::-webkit-scrollbar {
    display: none;  }
    
/* .message-panel{
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    width: 400px;
    height: 100%;
} */

.input_new {
    font-size: 20px;
    width:80%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.button_new {
    width: 100%;
    height: 100px;
display: flex;

justify-content: center;
align-items: center;

}
.button_new button{
    background-color: white;
    border:0.5px solid rgba(177, 173, 173, 0.603);
    border-radius: 5px;
    height: 40px;
    margin: 10px;
    width: 100px;

   }
   .button_new button:hover{
    
    background-color: #073655;
    color:white;
    border: 0px;

  
   }


.message-cont{
    position: relative;
    width: 100%;
    height: 92%;
    background-color: black;

}

.message-input{
    display: flex;
    position: relative;
    width: 100%;
    height: 8%;
    background-color: rgb(217, 255, 2);

}
.message-input input{
    position: relative;
    width: 80%;
    height: 100%;
    background-color: rgb(4, 160, 11);
    border: none;

}
.message-input button{
    position: relative;
    width: 20%;
    height: 100%;
    background-color: rgb(250, 250, 250);
    border: none;

}

.add-chatroom{
    position: absolute;
    display: block;
    width: 470px;
    height: 370px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(190, 188, 188, 0.562);    
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.add-chatroom h1 {
    font-size: 30px;
    color:#073655;
}

.hidden{
    display: none;

}



.r-outlet{
    position: absolute;
    background-color: turquoise;
    width: 300px;
    height: 300px;
}