
.top_div{
    position: relative;
    background-color: rgb(43, 144, 226);
    height: 100%;

    width: 100%;
    display: flex;

}
.info_display {

    position: relative;
    background-color: rgb(177, 226, 43);
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    

}
.owner_display {

    background-color: rgb(255, 255, 255);
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color:rgb(129, 1, 180);
    

}
.info_div {
    width:100%;
    
    background-color: rgb(255, 255, 255);
}
.back_btn {
    position: relative;
    display: inline;
    width: 20%;
    height: 50px;
    
    float: left;

}
.back_btn i {

    position: relative;
    top: 50%;
    font-size: 25px;
    transform: translateY(-50%);
}
.group_name {
    position: relative;
    display: inline-block;
    width: 80%;
    top:50%;
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: 700;
}

.message-cont{
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 100%;

    width: 70%;
    display: flex;
    flex-direction: column;
    

}
.online_members {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;
    justify-content: space-around;

}
.profil_pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border:2px solid rgba(128, 128, 128, 0.548);
    box-shadow: 0px 0px 10px #88888870;



}
.profil_desc {
    width: 50%;
    position: relative;
    
}
.profil_desc p{
    float: left;
    
}

.text_box {
    border-left: 1px solid rgba(128, 128, 128, 0.493);
    overflow-y: scroll;
    overflow-x: hidden;
    
}
.text_box::-webkit-scrollbar {
display: none;  }

.for_test {
width: 70%;
min-height: 70px;
float: right;
display: flex;
align-items: center;
justify-content: center;
background-color: rgb(199, 89, 243);
border-bottom-left-radius: 20px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;



}
.for_test  li {
    word-break: break-word;  
    list-style-type: none;  


}


.message-input{
    display: flex;
    position: relative;
    width: 100%;
    height: 50px;
    background-color: rgb(217, 255, 2);

}
.message-input input{
    position: relative;
    width: 80%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border: none;

}
.message-input button{
    position: relative;
    width: 20%;
    height: 100%;
    background-color: rgb(250, 250, 250);
    border: none;

}
ul {
    display: flex;
    flex-direction: column;
}


/* INPUT FILE STYLING */
.custom-file-input{
    width: 100px;
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Select some files';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 18px 3px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 6pt;
    width:100px;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }



  /* CLASS TO HIDE IMAGE CONT */
  .no-image{
      display: none;
      visibility: hidden;
  }