<div class="top_div">
  <div class="info_display">
    <div class="info_div">
      <div class="back_btn">
        <a href="http://localhost:4200/profile?name={{chatRoom_data.owner}}">       
           <i class="fas fa-chevron-left"></i>
        </a>
      </div>
      <div class="group_name">
        {{chatRoom_data.name}}
      </div>
    </div>
    <div class="owner_display">
    Managed by: {{chatRoom_data.owner}}
    </div>
    <hr>

    <div *ngFor="let profile of chatRoom_data.profiles">
      <div class="online_members">
        <div class="profil_pic">
            <img width="50px" height="50px" src="../../../assets/profile_icons/{{profile.profile_icon}}.png" alt="">
        </div>
        <div class="profil_desc">
          <p>{{profile.name}}</p>
        </div>
      </div>
    </div>
  </div>
<div class="message-cont">
<div class="text_box" #scrollMe [scrollTop]="scrollMe.scrollHeight">
  <div>{{chatroomname}}</div>

  


      <ul *ngFor="let message of messages" class="for_test">
        <li>{{message.content}}  
          <div class="sender">{{message.sender}}</div>
        </li>
        <img class="{{message.image}}" width="140px" height="90px" src="../../../assets/{{message.image}}" alt="">

      </ul>
      <ul *ngFor="let message of mymessages" class="for_test">
        <li  >{{message.content}} 
          <div class="sender">{{message.sender}}</div>
        </li>
        <img src="../../../assets/{{message.image}}" alt="">
      </ul>

</div>
   <div class="message-input">
        <!-- //<button (click) = "connect()" type="submit">Connect</button> -->
        <input (change)="selectFile($event)" name = "file" type="file" >
    
        <input (change) = "messageHandler($event)" value = {{singlemessage}} class="message-input" placeholder="Message...">
        <button (click) = "sendName()" type="submit">SEND</button>
    </div>     
      
</div>

</div>
