.container{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(236, 231, 231);
}

.container h1{
    text-align: center;
    font-size: 40px;
    letter-spacing: 0.1em;
    color: rgb(144, 146, 39);
}

.container .options-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    position: relative;
    width: 50%;
    height: 70%;
    left: 50%;
    transform: translate(-50%,-0%);
    background-color: rgba(179, 210, 218,0.7);
    box-shadow: 3px 3px 5px 6px rgb(216, 213, 213);
    border-radius: 5px;
}
.container .options-wrapper div{
    display: flex;
    width: 48%;
    padding: 2% 5%;
    margin: 2% 10%;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.05em;
}
.container .options-wrapper div a{
    width: 100%;
    color: white;
    text-decoration: none;
}
.container .options-wrapper div:hover{

    color: rgb(170, 182, 105);
    
}


.display-text{
    width: 200px;
    height: 50px;
    background-color: tomato;
}


.form-container{
    display: flex;
    flex-direction: column;
}
.form-container input{
    padding: 0.9%;
}
.hidden{
    position: absolute;
    display: none;
    visibility: hidden;
}
.cl{
    visibility:visible;

    display: flex;
    flex-direction: column;
}
.message-input{
    display: flex;
    flex-direction: row;

}

li{
    list-style: none;
}




